@import url('https://fonts.googleapis.com/css?family=Neucha');


html, body, #root{
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

div.centered{
  width: 400px !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.root{
  height: 100%;
  width: 100%;
}

.wave {
  position: absolute;
  height: 70px;
  width: 600px;
  background: #e0efe3;
}

.blue-top {
  height: 200px;
  background-color: #9fd9f6;
  position: absolute;
  width: 100%;
}

.card {
  z-index: 10
}

.frame {
  z-index: 10;
  position: relative;
  top: 100px;
  height: 200px;
  max-width: 700px;
}

.income {
  display: flex;
  font-size: 36pt;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
      "Lucida Grande";
  font-weight : bold
}

.sound-wave {
  position:absolute;
  bottom : 0;
  width: 100%;
  display: block !important;
  height: 50px;
  z-index: 5 !important;
}

.hidden{
  display: none !important
}

.record-button-wrapper {
  z-index: 10 !important;
  position: fixed;
  margin-bottom: 20px;
}

.record-button {
}

.record-button button {
  /* background-color: #b60041 !important; */
}

.app-logo{
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  right: calc(50% - 56px);
  font-size: 26pt;
  color: white;
  font-family: 'Neucha', cursive;
}

.action-buttons-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.action-buttons {
  display: flex;
  width: 50%;
  height: 50%;
  align-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-top: #e0e0e0 1px solid;
  border-right: #e0e0e0 1px solid;
  flex-direction: column
}

.action-buttons:hover{
  background-color: #f0f0f0 !important;
  cursor: pointer;
}

.action-buttons .material-icons {
  transform: scale(1.35);
  color: #9fd9f6 !important; 
}